.h4 {
    font-weight: 700;
    font-size: 20px;
}
.small-text {
    font-weight: 500;
    font-size: 16px;
}
.green {
    color: #27AE60
}
.blue {
    color: #2F80ED
}
.black-70 {
    color: #4D4D4D
}
.text-button {
    outline: none;
    background: none;
    border: none;
    padding: 0;
}
.hover-opacity-50:hover {
    opacity: 50%;
}
.background-light-grey {
    background-color: #fafafa;
}

body {
    margin: 20px;
    font-family: 'Arial';
}